* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* *::selection {
  background:transparent;
} */

:root {
  --white: #edebe2;
  --brown: #261f1d;
  --tan: #E8E1D0;
  --orange2: #EA5D36;
  --black: #000;
}

html {
  overflow-y: hidden;
  scroll-behavior: smooth;
}

body {
  margin:0;
  padding:0;
  background:var(--black);
  font-family: sans-serif;
  color:var(--white);
  animation: color1 30s ease-in-out alternate infinite;
  /* overflow-y: scroll; */
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color:var(--orange2);
}

hr {
  border:0;
  min-width:100%;
  animation: color2-border 30s ease-in-out alternate infinite;
  margin:1rem 0 2rem 0;
}

p {
  margin:0;
  /* max-width: 30rem; */
}

i {
  font-family: 'times', serif;
  /* animation: text-switching 3s linear infinite; */
  /* font-size: 1.3rem; */
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 1.9rem;
  /* line-height: 2.5rem; */
  margin:0;
  /* padding:0 1rem; */
  font-family: 'times', serif;
  font-style: italic;
}

h2 {
  font-size:1.2rem;
  font-weight: normal;
  /* margin: .5rem 0 1.5rem 0; */
  margin: 0;
  font-style: italic;
}

ul {
  text-align: left;
  list-style: none;
}

li {
  margin: 0;
  padding:0;
}

.color1 {
  background: var(--white);
  color: var(--black);
  animation: color1 30s ease-in-out alternate infinite;
}

.color2 {
  background: var(--black);
  color: var(--white);
  animation: color2 30s ease-in-out alternate infinite;
}

.underline {
  align-self: flex-start;
  display: inline;
  line-height: 90%;
  /* width:100%; */
  /* border-bottom: 2px solid black; */
  /* text-decoration: underline; */
  animation: underline-switch 30s ease-in-out alternate infinite;
}

.main-wrap {
}

.image-panel {
  position: absolute;
  /* min-height:100%; */
  width:100%;
  /* min-height:100vh;
  max-height: 100vh; */
  /* height: 100vh; */
  /* padding-left: 1rem;
  padding-right:1rem; */
  /* transition: height .2s ease-in-out; */
  z-index: 999;
}

.image-panel:hover {
  cursor: pointer;
}

.slide-wrap {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  list-style:none;
  display: flex;
  margin:0;
  padding:0;
  /* justify-content: center; */
  /* align-items: center; */
  /* overflow-x: scroll; */
  overflow-y: hidden;
}

.slide {
  min-width: 100%;
  position: absolute;
  left:0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  transition: opacity 2s ease-in-out;
  /* align-content: center; */
}

.slide img{
  overflow: hidden;
  /* max-width: 100vw; */
  padding:1rem;
  padding-top: 1rem;
  max-width: 100%;
  max-height: 100vh;
  opacity:.7;
}

.rounded {
  border-radius: 30px;
}

.content {
  min-height:100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.text {
  align-items: flex-start;
  padding:1rem;
}

.text-switch {
  animation: text-switching 5s linear infinite;
}

.caption {
  position: absolute;
  opacity:0;
  width:100%;
  top:0;
  left:0;
  font-size: 1.3rem;
  padding: 1rem 1rem 1rem 2rem;
  /* margin-bottom: 4rem; */
  z-index: 999999;
  /* background:yellow; */
  animation: text-color 30s ease-in-out alternate infinite;
  transition: opacity .2s ease-in-out;
}

.caption-btn::before {
  content: '*';
}

.caption-btn {
  position: fixed;
  font-size: 2rem;
  display: none;
  /* width:15px; */
  height:55px;
  /* background:red; */
  padding:1rem;
  top:0;
  left:0;
  z-index: 9999;
  animation: text-color 30s ease-in-out alternate infinite;
}

.caption-show {
  opacity: 1;
}

.content p::selection, h1::selection, br::selection {
  background:transparent;
}

img::selection {
  background:transparent;
}



/* animated tape */
.tape {
  background-image: url(../img/tape1.jpeg);
  background-repeat: repeat-y;
  background-position: -50%;
  background-size:1000px;

  animation: tape .2s linear infinite;
  height:1227px;
  /* min-height:100vh; */
  min-width:100%;
}

@keyframes tape {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0 100%;
  }
}




/* ------------------number------------------ */

.float {
  position: fixed;
  max-width:100%;
  width:100%;
  min-width:100%;
  padding:0 1rem;
  bottom:1rem;
  animation: text 30s ease-in-out alternate infinite;
  z-index: 999999;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.num {
  margin: 0;
  /* max-width: 10rem; */
  /* display: block; */
  font-size: 1.8rem;
  line-height: 1.5rem;
  font-family: sans-serif;
  /* height:rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem;
  border-radius: 20px;
  transition: box-shadow .2s;
}

.num:hover {
  /* box-shadow: 0px 0px 9px 3px rgb(0,0,0); */
  /* border:1px solid black; */
}

.num::selection {
  background: transparent;
}

#fittext {
  display: inline-block;
  width: 100%;
  max-width: 300px;
  padding: 1rem 0 1rem 0;
}

.about-btn {
  cursor:pointer;
  margin-right:1%;
  /* width:70px; */
}

.about-btn::before {
  content: 'ⓘ';
}

.close::before {
  content: 'ⓧ';
}

.float div::selection {
  background:transparent;
}

.down-arrow {
  position: absolute;
  z-index: 99999;
  display: none;
  bottom:2rem;
  left:50%;
  transform: translateX(-50%);
  margin-bottom: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red;
  animation: color2-border 30s ease-in-out alternate infinite;
  transition: bottom .4s ease-out,
              opacity .1s ease-in-out;
}





/* ------------------blur------------------ */

.blur-wrap {
  /* margin-top: -3rem; */
  overflow: hidden;
  width: 100%;
  /* position: absolute; */
  /* left:50%;
  transform: translateX(-50%); */
  /* bottom:-2rem; */
  /* z-index: 9999; */
  display: none;

}

.blur {
  display: flex;
  margin-top: -1.5rem;
  flex-direction: column;
  transform: scaleX(2);
  filter: blur(10px);
  width: 100%;
}

.blur1 {
  background: red;
  /* transform: scaleX(2); */
  height:2rem;
}

.blur2 {
  background: green;
  /* filter: blur(10px); */
  /* transform: scaleX(2); */
  height:2rem;
}



/* ------------------about------------------- */

.about {
  position: absolute;
  top:0;
  left:0;
  min-width:100%;
  min-height:100vh;
  overflow-y: auto;
  max-height: 100vh;
  /* min-height: 100vh; */
  font-size: 1.1rem;
  line-height: 1.7rem;
  /* margin-top: -1.5rem; */
  align-self: flex-start;
  /* justify-content: center; */
  display: flex;
  opacity:0;
  /* align-items: center; */
  flex-direction: column;
  transition: opacity .2s ease-out;
  /* transform: translateY(-100%); */
  font-size: 1.3rem;
  z-index: -999;
  text-align: left;
}

.about-inner {
  padding:1rem 1rem 5rem 1rem;
}

.chunk {
  min-height:6vw;
  width:100%;
  display: none;
}

.about .header {
  /* padding-top:1rem; */
  text-align: left;
}

.about h1 {
  margin-bottom: 1rem;
  /* padding-bottom: 1rem; */
}

.about h2 {
  margin-bottom: 2rem;
}

.about p {
  text-align: left;
  /* padding: 1rem; */
  /* width: auto; */
}

.show {
  opacity:1;
  z-index: 99999;
}

.about-list-wrap {
  margin:1rem 0;
  padding:0;
  /* background:red; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

.about-list-row {
  display: flex;
  flex-direction: row;
  padding: .2rem 0;
}

.about-list-label {
  min-width:5rem;
  /* background: green; */
  text-align: left;
  /* padding-right: .7rem; */
  font-family: serif;
  font-style: italic;
}

.prompt {
  margin-top:2rem;
  padding:1rem;
  width: 100%;
  max-width: 670px;
  z-index: 999999;
  border-radius: 20px;
}

/* ------------------folio------------------ */

.folio {
  /* padding-top:3rem; */
  /* padding-bottom:1rem; */
  font-size: .8rem;
  line-height: 1.3rem;
  display:flex;
  justify-content: space-between;
  flex-flow: column;
  z-index: 9999;
  text-align: center;
  width:100%;
  max-width:42rem;
  /* background: lightgreen; */
}

.folio p {
  /* text-align: center; */
  /* margin-bottom: 1rem; */
}

.folio-name {
  font-size:1rem;
}

.full {
  width:100vw;
}

@keyframes color1 {
  0% {    background: var(--black);
          color: var(--white);}
  100% {  background: var(--white);
          color: var(--black);}
}

@keyframes color2 {
  0% {    background: var(--white);
          color: var(--black);}
  100% {  background: var(--black);
          color: var(--white);}
}

@keyframes text-color {
  100% {color: var(--black);}
  0% {color: var(--white);}
}

@keyframes text-switching {
  0% {font-style: italic;}
  100% {font-style: normal;}
}

@keyframes color2-border {
  100% {      border-bottom: 1px solid var(--white);}
  0% {    border-bottom: 1px solid var(--black);}
}

@keyframes underline-switch {
  0% {
    border-bottom: 1px solid var(--white);
    font-style: italic;
  }
  100% {
    border-bottom: 1px solid var(--black);
    font-style: normal;
  }
}

@media (min-width:800px) {
  h1 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    /* width: 45rem; */
    /* max-width: 45rem; */
  }

  .feature {
    width:100%;
  }

  .slide-wrap {
    /* overflow-x: hidden; */
  }

  .slide-wrap img{
    max-width: 40rem;
    max-height: 80vh;
    /* width:100%; */
  }

  .content {
    justify-content: center;
    align-items: center;
  }

  .text {
    align-self: center;
    max-width: 41rem;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
  }

  .caption-btn {
    display: block;
  }

  .about {
    /* overflow-y: hidden; */
    /* justify-content: center; */
    font-size: 1.6rem;
    position: absolute;
    /* max-height:90%;
    min-height:90%;
    top:10%; */
  }

  .about-inner {
    padding:1rem 1rem 13rem 1rem;
    /* max-width: 60rem; */
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
  }

  .about p {
    /* font-size: 130%;
    line-height: 130%; */
    /* max-width: 90rem; */
  }

  .folio {
    /* flex-flow: row; */
    /* min-width:100%; */
    /* justify-content: space-between; */
    /* text-align: center; */
  }

  .folio p {
    /* width:100%; */
    /* text-align: center; */

    /* margin: 0; */
    /* width:33%; */
  }

  .prompt {
    position: fixed;
    left:50%;
    bottom:6rem;
    transform: translateX(-50%);
  }

  .num {
    font-size: 3rem;
    line-height: 2.5rem;
  }

  #fittext {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    padding: 1rem 0 1rem 0;
  }
}
