* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --black: #000;
  --white: #edebe2;
  --hover: #48884d;

  --brown: #261f1d;
  --morewhite: #E8E9EC;
  --lighttan: #edebe2;
  --tan: #E8E1D0;
}

html {
  font-family: 'pt sans',sans-serif;
  scroll-behavior: smooth;
}

body {
  margin:0;
  padding:0;
  background:var(--black);
  color:var(--white);
}

a {
  color: inherit;
  text-decoration: none;
  /* transition: color .1s ease; */
}

a:hover{
  color:var(--hover);
}

hr {
  border:0;
  min-width:100%;
  animation: border 10s ease-in-out alternate infinite;
  -webkit-animation: border 10s ease-in-out alternate infinite;
  margin:3rem 0 3rem 0;
}

p {
  margin:0;
}

i {
  font-family: 'pt serif', serif;
}

h1 {
  font-weight: lighter;
  line-height: 2.2rem;
  font-size: 2rem;
  margin:0;
}

ul {
  text-align: left;
  list-style: none;
}

li {
  margin: 0;
  padding:0;
}

.underline {
  align-self: flex-start;
  display: inline-block;
  cursor: pointer;
  /* cursor: help; */
  border-bottom: 1px solid var(--white);
}

.stop-scrolling {
  height:100%;
  max-height: 100vh;
  width:100%;
  max-width: 100vw;
  overflow-y: scroll;
  position:fixed;
  /* overflow: hidden; */
}

#loading {
  background-color: var(--black);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 9999999999;
}

#main-wrap {
  opacity:0;
  transition: opacity 5s ease-out;
}


/* PROMPT
-----------------------------------------------*/
.prompt-wrap {
  position: fixed;
  top:0;
  left:0;
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  list-style:none;
  display: flex;
  margin:0;
  background-image: url(../img/bg11.gif);
  /* background-size: auto; */
  background-position: center;
  background-attachment: fixed;
  padding:0;
  opacity:0;
  transition: opacity .4s ease-out;
}

.prompt-inner {
  min-width: 100%;
  height:100%;
  position: absolute;
  top:1rem;
  left:0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.prompt-container {
  /* height:8rem; */
  width:100%;
  max-width: 45rem;
  padding:0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.prompt1 {
  color:var(--white);
  position: relative;
  font-family: 'pt serif', serif;
  font-style: italic;
  position: fixed;
  top:6rem;
  top:40%;
  transform: translateY(-60%);
  width:100%;
  /* padding-left: 1rem; */
  opacity: 1;
  margin-bottom: 3rem;
  text-align: center;
  transition: opacity .1s ease-in-out;
}

.prompt2{
  color:var(--black);
  align-self: center;
  font-family: 'pt serif', serif;
  font-style: italic;
  position: fixed;
  /* padding-left: 1rem; */
  text-align: left;
  width:100%;
  max-width: 40rem;
  /* left:50%; */

  /* right:0; */
  padding: 0 1rem 0 1rem;
  bottom:7rem;
  /* left:1rem; */
  transition: opacity .1s ease-in-out;
  opacity: 1;
  z-index: -1;
  /* background: red; */
}

.in-front {
  /* z-index: 999; */
  opacity: 0;
}

.marechera-name {
  width:100%;
  position: fixed;
  top:50%;
  transform: translateY(-50%;);
  text-align: center;
  padding:0 1rem;
  font-family: 'pt serif', serif;
  font-style: italic;
}

.text-switch {
  animation: text-switching 10s linear alternate infinite;
  -webkit-animation: text-switching 10s linear alternate infinite;
}



/* NUMBER
-----------------------------------------------*/
.float {
  position: fixed;
  width:100%;
  display: flex;
  justify-content: center;
  bottom:1rem;
  z-index: 999999;
}

.num-wrap {
  max-width:50rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  padding:0 .5rem;
}

.num {
  margin: 0;
  font-size: 2rem;
  line-height: 1.5rem;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:1rem .5rem;
  max-width: 300px;
}




/* SLIDES
-----------------------------------------------*/
.slide-btn-wrap {
  display: flex;
  position: absolute;
  top:4rem;
  left:0;
  height:73vh;
  z-index: 9999;
  width:100%;
  /* background:var(--hover); */
  /* opacity: .8; */
}

.slide-btn {
  height:100%;
  width:50%;
}

.next-btn:hover {
  cursor: e-resize;
}

.prev-btn:hover {
  cursor: w-resize;
}

.slide-wrap {
  position: relative;
  top: 0;
  left: 0;
  min-height: 69vh;
  max-width: 100vw;
  list-style: none;
  display: flex;
  margin: 0;
  margin-top: 4rem;
  margin-bottom: 2rem;
  background-position: center;
  padding: 0;
}

.slide {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* transition: opacity .2s ease-in-out; */
}

.slide img{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  max-height: 69vh;
  opacity: .75;
  border-radius: 4px;
}

.content {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  align-self: center;
}

.text {
  justify-content: flex-start;
  align-items: flex-start;
  padding:1rem;
}

/* CAPTION */
.caption {
  position: absolute;
  display: none;
  opacity:0;
  max-width:100%;
  top:1rem;
  left:2.5rem;
  font-size: 1.3rem;
  padding: 0 1rem 1rem 0;
  z-index: 999999;
  /* background:yellow; */
  animation: text-color 30s ease-in-out alternate infinite;
  -webkit-animation: text-color 30s ease-in-out alternate infinite;
  transition: opacity .2s ease-in-out;
  pointer-events: none;
}

.caption-btn::before {
  content: '*';
}

.caption-btn {
  position: fixed;
  font-size: 2rem;
  display: none;
  width:100%;
  height:4rem;
  padding:1rem;
  top:0;
  left:0;
  z-index: 999999;
  transition: background .2s ease,
              box-shadow .2s ease;
}

.caption-btn:hover {
  cursor: pointer;
  background: var(--hover);
  box-shadow: 0 0 16px 16px var(--hover);
}

.caption-show {
  opacity: 1;
}




/* ABOUT
-----------------------------------------------*/
.about {
  position: absolute;
  top:0;
  left:0;
  min-width:100%;
  min-height:100vh;
  max-width: 100vw;
  font-size: 1.1rem;
  line-height: 1.7rem;
  align-self: flex-start;
  display: flex;
  opacity:0;
  flex-direction: column;
  transition: opacity .4s ease;
  font-size: 1.3rem;
  z-index: -999;
  text-align: left;
  background-image: url(../img/bg11.gif);
  background-position: center;
  background-attachment: fixed;
  /* background-size: contain; */
  /* overflow: hidden; */
}

.about-inner {
  padding:1rem 1rem 8rem 1rem;
}

.about p {
  /* text-align: left; */
}

.about h1 {
  /* font-size: 1.8rem; */
  font-family: 'pt serif', serif;
  font-style: italic;
  /* margin-bottom: 1rem; */
  text-align: left;
  width:100%;
  /* max-width: 55rem; */
  margin:2rem auto 2rem auto;
  text-align: center;
  /* background: green; */
  /* padding:1rem; */
}

.show {
  opacity:1;
  /* overflow: auto; */
  /* display: flex; */
  z-index: 99999;
}

.about-btn {
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  left:50%;
  top:1rem;
  transform: translateX(-50%);
  cursor:pointer;
  width:4rem;
  border-radius: 20px;
}

.open-about {
  font-size:2rem;
  /* color:var(--white); */
  padding:.21rem .6rem .17rem .7rem;
  /* font-family: 'pt serif', serif; */
  /* border-left:1px solid var(--black); */
  /* border-right:1px solid var(--black); */
  border-radius: 20px;
  text-align: center;
  /* background:var(--black); */
}


.close-about {
  position: relative;
  text-align: center;
  width:3rem;
  padding:.7rem .7rem .3rem .7rem;
}

.st1{
  stroke-width:3;
  stroke-linecap:round;
  /* transition: stroke .1s ease;  */
}

.close-about:hover .st1{
  stroke:var(--hover);
}

.about-list-wrap {
  margin:4rem auto 2rem auto;
  padding:0;
  display: flex;
  flex-direction: column;
  max-width: 55rem;
  width:100%;
  border-radius: 5px;
  border: 1px solid black;
  text-align: left;
}

.about-list-row {
  display: flex;
  flex-direction: row;
  padding: .7rem .4rem;
  cursor: help;
  /* margin-bottom: 10px; */
  border-bottom: 1px solid black;

  /* position: relative; */
}

.about-list-row:last-child {
  border: 0px;
}

.about-list-label {
  min-width:5rem;
  text-align: left;
  font-family: 'pt serif',serif;
  font-style: italic;
}

.about-list-row img {
  position: fixed;
  z-index: -1;
  max-height:75vh;
  max-width: 100vw;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  /* display: none; */
  border-radius: 4px;
  transition: opacity .4s ease-out;
}

.about-list-row:hover img {
  /* display: block; */
  opacity: .55;
}

.aboutlist-row:focus img{
  opacity:0;
}

.about-hr {
  text-align: center;
  margin: 3rem;
}

.about-hr svg {
  max-height: 1rem;
  stroke: none;
}

.about-prompt {
  max-width: 55rem;
  margin:2rem auto 2rem auto;
}

.colophon-wrap {
  display: flex;
  flex-direction: column;
  max-width: 55rem;
  margin:2rem auto 0 auto;
}

.colophon {
  font-size:1.2rem;
  /* width:100%; */
  text-align:center;
  /* opacity:.65; */
}



/* ANIMATIONS
-----------------------------------------------*/
.bg1 {
  animation: bg1 10s ease-in-out alternate infinite;
  -webkit-animation: bg1 10s ease-in-out alternate infinite;
}

.bg2 {
  animation: bg2 10s ease-in-out alternate infinite;
  -webkit-animation: bg2 10s ease-in-out alternate infinite;
}

.color1 {
  animation: color1 10s ease-in-out alternate infinite;
  -webkit-animation: color1 10s ease-in-out alternate infinite;
}

.color2 {
  animation: color2 10s ease-in-out alternate infinite;
  -webkit-animation: color2 10s ease-in-out alternate infinite;
}

.op1 {
  animation: op1 10s ease-in-out alternate infinite;
  -webkit-animation: op1 10s ease-in-out alternate infinite;
}

.op2 {
  animation: op2 10s ease-in-out alternate infinite;
  -webkit-animation: op2 10s ease-in-out alternate infinite;
}

.border {
  animation: border 10s ease-in-out alternate infinite;
  -webkit-animation: border 10s ease-in-out alternate infinite;
}


/* background animation */
@keyframes bg1 {
  0% {    background-color: var(--black);
          color: var(--white);}
  48% {   background-color: var(--black);
          color: var(--white);}
  52% {   background-color: var(--white);
          color: var(--black);}
  100% {  background-color: var(--white);
          color: var(--black);}
}

@-webkit-keyframes bg1 {
  0% {    background-color: var(--black);
          color: var(--white);}
  48% {   background-color: var(--black);
          color: var(--white);}
  52% {   background-color: var(--white);
          color: var(--black);}
  100% {  background-color: var(--white);
          color: var(--black);}
}

@keyframes bg2 {
  0% {    background-color: var(--white);
          color: var(--black);
          stroke: var(--black);}
  48% {   background-color: var(--white);
          color: var(--black);
          stroke: var(--black);}
  52% {   background-color: var(--black);
          color: var(--white);
          stroke: var(--white);}
  100% {  background-color: var(--black);
          color: var(--white);
          stroke: var(--white);}
}

@-webkit-keyframes bg2 {
  0% {    background-color: var(--white);
          color: var(--black);
          stroke: var(--black);}
  48% {   background-color: var(--white);
          color: var(--black);
          stroke: var(--black);}
  52% {   background-color: var(--black);
          color: var(--white);
          stroke: var(--white);}
  100% {  background-color: var(--black);
          color: var(--white);
          stroke: var(--white);}
}

/* opacity animation */
@keyframes op1 {
  0% {    opacity: 1;}
  48% {   opacity: 1;}
  52% {   opacity: 0;}
  100% {  opacity: 0;}
}

@-webkit-keyframes op1 {
  0% {    opacity: 1;}
  48% {   opacity: 1;}
  52% {   opacity: 0;}
  100% {  opacity: 0;}
}

@keyframes op2 {
  0% {    opacity: 0;}
  48% {   opacity: 0;}
  52% {   opacity: 1;}
  100% {  opacity: 1;}
}

@-webkit-keyframes op2 {
  0% {    opacity: 0;}
  48% {   opacity: 0;}
  52% {   opacity: 1;}
  100% {  opacity: 1;}
}

/* text-color animation */
@keyframes color1 {
  0% {    color: var(--white);
          fill: var(--white);}
  48% {   color: var(--white);
          fill: var(--white);}
  52% {   color: var(--black);
          fill: var(--black);}
  100% {  color: var(--black);
          fill: var(--black);}
}

@-webkit-keyframes color1 {
  0% {    color: var(--white);
          fill: var(--white);}
  48% {   color: var(--white);
          fill: var(--white);}
  52% {   color: var(--black);
          fill: var(--black);}
  100% {  color: var(--black);
          fill: var(--black);}
}

@keyframes color2 {
  0% {    color: var(--black);
          fill: var(--black);}
  48% {   color: var(--black);
          fill: var(--black);}
  52% {   color: var(--white);
          fill: var(--white);}
  100% {  color: var(--white);
          fill: var(--white);}
}

@-webkit-keyframes color2 {
  0% {    color: var(--black);
          fill: var(--black);}
  48% {   color: var(--black);
          fill: var(--black);}
  52% {   color: var(--white);
          fill: var(--white);}
  100% {  color: var(--white);
          fill: var(--white);}
}

/* border-bottom animation */
@keyframes border {
  0% {    border-color: var(--black);}
  48% {   border-color: var(--black);}
  52% {   border-color: var(--white);}
  100% {  border-color: var(--white);}
}

@-webkit-keyframes border {
  0% {    border-color: var(--black);}
  48% {   border-color: var(--black);}
  52% {   border-color: var(--white);}
  100% {  border-color: var(--white);}
}

@keyframes text-switching {
  0% {font-style: normal;}
  48% {font-style: normal;}
  52% {font-style: italic;}
  100% {font-style: italic;}
}




/* SELECTION PROPERTIES
-----------------------------------------------*/
.content p::selection, h1::selection, br::selection {
  background:transparent;
}

img::selection {
  background:transparent;
}

.float div::selection {
  background:transparent;
}

.num::selection {
  background: transparent;
}



/* MEDIA QUERY
-----------------------------------------------*/

@media (min-width:800px) {
  h1 {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .prompt-inner {
    justify-content: center;
  }

  .prompt1 {
    top:45%;
    transform: translateY(-55%);
  }

  .prompt2 {
    bottom:23%;
  }

  .slide-wrap {
    min-height: 73vh;
  }

  .slide-wrap img{
    max-width: 40rem;
  }

  .slide img{
    max-height: 73vh;
  }

  .content {
    justify-content: center;
    align-items: center;
  }

  .text {
    align-self: center;
    max-width: 41rem;
  }

  .text h1 {
    font-size: 2.1rem;
    line-height: 2.1rem;
  }

  .caption-btn {
    display: block;
    display: none;
  }

  .caption {
    display: block;
  }

  .about {
    font-size: 1.6rem;
    position: absolute;
  }

  .about-inner {
    padding:1rem 1rem 8rem 1rem;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
  }

  .about p {
    line-height: 130%;
  }

  .about-list-label {
    min-width:7rem;
  }

  #fittext {
    min-width: 25rem;
    max-width: 25rem;
  }

  .num {
    font-size: 2.3rem;
    line-height: 2.5rem;
    max-width: 450px;
    padding:.6rem;
  }

  .colophon {
    text-align:left;
  }

  .phone-br {
    display:none;
  }

  .about-hr {
    margin: 2rem;
  }
}
