* {
  box-sizing: border-box;
}

:root {
  --white: #E8E1D0;
  --brown: #261f1d;
  --orange: #E8E1D0;
  --orange2: #EA5D36;
  --black: #000;
}

body {
  margin:0;
  padding:0;
  background:var(--black);
  font-family: sans-serif;
  /* font-family: 'barlow', sans-serif; */
  overflow-x: hidden;
  color:var(--white);
}

a {
  /* color:var(--black); */
  color: inherit;
}

a:hover{
  color:var(--orange2);
}

p {
  margin:.5rem;
  max-width: 690px;
}

i {
  font-family: 'times', serif;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.5rem;
  margin:0;
  padding:0 2rem;
  font-family: 'times', serif;
  font-style: italic;
  /* transform: rotate(180deg); */
}

.flip {
  animation: flip-text 3s ease-in-out alternate infinite;
}

h2 {
  font-size:1.2rem;
  font-weight: lighter;
  margin: 1rem 0 0 0;
  font-style: italic;
}

.main-wrap {
  display: flex;
  flex-wrap: wrap;
}

.color1 {
  /* background: linear-gradient(to bottom, var(--white) 0%, var(--white) 93%, var(--black) 100%); */
  background: var(--white);
  color: var(--black);
  animation: color1 30s ease-in-out alternate infinite;
}

.color2 {
  /* background: linear-gradient(to bottom, var(--black) 0%, var(--black) 93%, var(--white) 100%); */
  background: var(--black);
  color: var(--white);
  animation: color2 30s ease-in-out alternate infinite;
}

.gradient-split {
  background: linear-gradient(to right, rgba(232,225,208,1) 0%, rgba(0,0,0,1) 100%);
  position: fixed;
  left:50%;
  top:0;
  transform: translateX(-50%);
  height:100vh;
  width:30px;
  display: none;
}

.text {
  width:100%;
  position: relative;
  text-align: center;
  display: flex;
  justify-content:center;
}

.text-c {
  text-align: center;
}

.feature {
  width:100%;
  min-height:100vh;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:1rem;
}

.about {
  /* min-height:100vh; */
  /* text-align: left; */
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.7rem;
  padding:0 1rem;
  /* padding:4rem 1rem 6rem 1rem; */
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.about p {
  width: auto;
}

.shrink1 {
  min-height:auto;
  padding:2rem 0;
  background:var(--black);
  color: var(--white);
}

.shrink2 {
  min-height:auto;
  padding:2rem 0;
}

/* .shrink2 .about {
  min-height:100vh;
} */

.image {
  width:100%;
  overflow: hidden;
  position: relative;
  padding:1rem 0;
}

.image img{
  /* border-radius: 3px; */
  max-width: 80vw;
}

.main-carousel {
  height:100vh;
  width:100vw;
}

.carousel-cell {
  width:100%;
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-cell img{
  max-width:95vw;
  max-height:95vh;
}

.vert-line {
  height:4rem;
  border-right:2px dashed var(--white);
}

.folio {
  padding-top:2rem;
  padding-bottom:2rem;
  font-size: .8rem;
  line-height: 1.3rem;
  display:flex;
  justify-content: space-around;
  flex-flow: column;
  /* max-width:500px; */
  /* margin:0 auto auto; */
  z-index: 9999;
}

.folio p {
  width:100%;
}

.folio-name {
    font-size:1rem;
}

.full {
  width:100vw;
}

.fixed {
  position:fixed;
  z-index: 9999;
}

@keyframes color1 {
  100% {  background: var(--black);
          color: var(--white);}
  0% {    background: var(--white);
          color: var(--black);}
}

@keyframes color2 {
  100% {  background: var(--white);
          color: var(--black);}
  0% {    background: var(--black);
          color: var(--white);}
}

@keyframes flip-text {
  0% { transform: rotate(0); }
  49.9999% { transform: rotate(0); }
  50% { transform: rotate(180deg); }
  100% { transform: rotate(180deg); }
}

@media (min-width:800px) {
  h1 {
    max-width:690px;
  }

  .feature {
    width:50%;
  }

  .shrink1 {
    min-height:100vh;
    background:var(--white);
    color: var(--black);
  }

  .shrink2 {
    min-height:100vh;
  }

  .gradient-split {
    display: block;
  }

  .image img{
    max-width: 25rem;
  }

  .about {
    margin: 0 auto;
  }

  .folio {
    flex-flow: row;
    /* flex-wrap: wrap; */
    /* justify-content: flex-start; */
  }

  .folio p {
    max-width:48%;
  }
}
